attrs==20.2.0
aws-cdk.assets==1.66.0
aws-cdk.aws-applicationautoscaling==1.66.0
aws-cdk.aws-autoscaling-common==1.66.0
aws-cdk.aws-cloudformation==1.66.0
aws-cdk.aws-cloudwatch==1.66.0
aws-cdk.aws-codeguruprofiler==1.66.0
aws-cdk.aws-dynamodb==1.66.0
aws-cdk.aws-ec2==1.66.0
aws-cdk.aws-efs==1.66.0
aws-cdk.aws-events==1.66.0
aws-cdk.aws-iam==1.66.0
aws-cdk.aws-kms==1.66.0
aws-cdk.aws-lambda==1.66.0
aws-cdk.aws-logs==1.66.0
aws-cdk.aws-s3==1.66.0
aws-cdk.aws-s3-assets==1.66.0
aws-cdk.aws-sns==1.66.0
aws-cdk.aws-sqs==1.66.0
aws-cdk.aws-ssm==1.66.0
aws-cdk.cloud-assembly-schema==1.66.0
aws-cdk.core==1.66.0
aws-cdk.custom-resources==1.66.0
aws-cdk.cx-api==1.66.0
aws-cdk.region-info==1.66.0
boto3==1.7.4
botocore==1.10.84
cattrs==1.0.0
constructs==3.0.4
docutils==0.16
jmespath==0.10.0
jsii==1.13.0
publication==0.0.3
pyperclip==1.8.0
python-dateutil==2.8.1
s3transfer==0.1.13
six==1.15.0
-e git+git@github.com:nrawling/stream-data-lake.git@45ca2407fb61699dc794a123ce0b7f1298d9af86#egg=stream_data_lake
typing-extensions==3.7.4.3
urllib3==1.25.10
